doctype html
html
    head
        title Aj dance academy
        block scripts
        block style
    body
        <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/1.png" alt=""><B>AJDA</B>
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/#missionSection">Services</a></li>
            <li><a href="/#sponsorSection">Our sponsor</a></li>
            <li><a href="/contact" target="_blank">Contact us</a></li>

        </ul>
        </nav>
        block content
        footer#footer
            | Copyright &copy; 2022 AJdanceacademy.com|All rights reserved 
